/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* COMMON */

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    padding-bottom: 25px;
}

h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

.btn{
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

i{
    margin: 0 5px;
}

li {
    font-size: 15px;
}
/* HEADER */

.header-top {
    background-color: #255ee9;
    padding: 20px
}

.content-area {
    background-color: #255ee9;
    width: 90%;
    
}

.flex-top-content {
    display: flex;
    justify-content: space-between;

}


/* menu */

.menu {
    width: 50%;
}

ul{
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li {
    padding: 0 10px;
}

/* logo */

.logo, .login {
    padding: 10px;
    width: 25%;
}

.logo-img {
    width: 130px;
}

/* login */

.login {
    text-align: right;
    justify-content: flex-end;
}

.btn {
    background-color: white;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
}

.login-text {
    font-size: 15px;
}

/* bottom header */

.jumbotron {
    padding: 30px 0;
    height: 500px;
    background-color: white;
    background-image: url('../img/jumbo.png'); 
    background-size: cover;   
}

.jumbo-content {
    height: 300px;
    width: 50%;
    
}

.white-p {
    color: white;
    text-align: center;
    line-height: 25px;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 17px;
}

/* buttons */

.header-buttons {
    justify-content: center;
    padding-top: 15px;
}

.download-btn {
    padding: 10px 20px;
}

.header-btn-text {
    font-size: 17px;
}

.open-in-browser {
    padding: 10px 20px;
    background-color: #23272a;
    color: white;
}

/* MAIN */

.flex-white {
    padding: 60px 0;
}

.big-box {
    padding-left: 30px;
    width: 60%;  
}

.padding-onright {
    padding-right: 30px;
}

.small-box {
    width: 40%;
    padding: 20px;
}

.grey {
    background-color:  #f6f6f6;
}

.largecontent {
    width: 100%;
    text-align: center;
}

.largecontent h2 {
    padding: 20px 20px;
}

.largecontent p { 
    padding-top: 20px;
}

.last-main-section {
    padding: 30px 0;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 57%;
    flex-direction: column;
    justify-content: center;
}

.last-main-section h3 {
    padding-bottom: 30px;
}
.bottom-download-btn {
    padding: 15px 20px;
    background-color: #7289da;
    color: white;
}

/* FOOTER */

footer {
    background-color: #23272a;
}


/* top footer */

.top-footer {
    padding-top: 10px;
}

/* first footer column */

.big-footer-section {
    width: 30%;
    align-self: flex-start;
    padding-top: 60px;
}

.big-footer-section h3 {
    color: #7289da;
}

.language-section {
    padding-top: 25px;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}

.flag-img {
    width: 30px;
    margin-right: 10px;
}

.icons {
    font-size: 25px;
    color: white;
    padding-top: 25px;
}

/* second column footer section */

.small-col {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 35px 0;


}

.small-footer-section {
    width: 25%; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;

}

.main-li{
    color: #7289da;
}

.small-footer-section li {
    padding: 10px 0;
}

.small-footer-section a {
    color: white;
}

hr {
    color: white;
}
/* bottom footer */

.bottom-footer {
    padding-top: 10px;
    padding-bottom: 30px;
}

.bottom-section {
    width: 100%;
    justify-content: space-between;
}

.signin-btn {
    color: white;
    background-color: #7289da;
}